.form-container {
    display:block;
    width:90%;
    padding:10em;
    margin: 2em auto;
    background:#fff;
}

input[type=text] {
    background: transparent;
    /* border: transparent; */
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}

input[type=number] {
    background: transparent;
    /* border: transparent; */
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
}

.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
