
<div *ngIf = "!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">

        <h1> Sign Up </h1>
        <input placeholder="Employee Name" type="text" formControlName="eName">
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
        <input placeholder="Employee Number" type="number" formControlName="eNumber">
        <input placeholder="Password" type="text" formControlName="password">
        <input placeholder="Designation" type="text" formControlName="designation">
        <input placeholder="Service Line" type="text" formControlName="serviceLine">
        <input placeholder="Role" type="text" formControlName="role">
        <!-- <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">Too short</div> -->

        <!-- <label for="validate">Minimum of 3 Characters</label> -->
        <!-- <input type="checkbox" name="validate" formControlName="validate" value="1"> On -->

        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>


<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>Welcome {{ name }}</h1>

      <!-- <p>{{ description }}</p> -->
    </div>
  </div>
</ng-template>
